#gallery-wrap{
	nav{
		@include add_prefix('transform', skew(-10deg) rotate(-10deg));

		display: block;
		width: 880px;
		margin: 0 auto;
		padding: 0 0 0 60px;

		button{
			display: inline-block;
			border: none;
			outline: none;
			padding: 10px 22px;
			margin: 0 8px;			
			color: #ffffff;
			background-color: $aygo-orange;
			letter-spacing: 2px;
			text: {
				align: center;
				transform: uppercase;
			}
			border: {
				width: 4px;
				style: solid;
				color: #ffffff;
			}
			font: {
				size: 14px;
				family: 'toyotadisplay_rg';
			}
			&.active_menu{
				background: #ffffff;
				color: $aygo-orange;
			}
		}
	}
}