body{
	background: url("http://sharedlive.toyotaretail.co.uk.s3.amazonaws.com/car-chapter-assets/AYGO/explore/images/central-orange-bg.gif") repeat-y center 0 transparent;
}

#gallery-wrap{
	width: 100%;
	overflow: hidden;	

	#main_viewport{		
		@include add_prefix('transform', skew(-10deg) rotate(-10deg));

		min-width: 940px;
		max-width: 1460px;
		min-height: 1000px;
		background: $bg-colour;
		margin: 0 auto;
		overflow: hidden;
		position: relative;

		ul{
			width: 100%;
			height: 100%;
			display: none;
			position: absolute;
			top: 0;
			left: 0;			

			&.active_list{
				display: block;
			}
			li{
				display: block;
				float: left;
				max-width: 460px;
				position: relative;

				img{
					width: 101px;
				}
			}
		}

		.loading_spinner{
			@include add_prefix('transform',skew(0deg) rotate(0deg));
		}
	}
	#overlay_bg{
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		min-width: 100%;
		min-height: 100%;
		background: rgba(0,0,0,0.75);
		z-index: 5000;

		&.active_overlay{
			display: block;
		}

		.active_viewport{
			width: 940px;
			max-height: 470px;
			margin: 0 auto;
			position: relative;
			top: -470px;

			img{
				width: 940px;
			}
		}
	}
}