body{
	background: url("http://sharedlive.toyotaretail.co.uk.s3.amazonaws.com/car-chapter-assets/AYGO/explore/images/central-orange-bg.gif") repeat-y center 0 transparent;
}

#gallery-wrap{
	width: 100%;
	overflow: hidden;	

	#main_viewport{		
		@include add_prefix('transform', skew(-10deg) rotate(-10deg));

		width: 940px;
		// max-width: 1460px;
		min-height: 1000px;
		background: $bg-colour;
		margin: 40px auto;
		padding: 75px 0 0;
		overflow: visible;
		position: relative;

		ul{
			// width: 1460px;
			height: 100%;
			display: block;
			position: relative;
			top: 0;
			left: 0;			

			&.active_list{
				display: block;
			}
			li{
				float: left;				
				width: 180px;
				height: 180px;
				margin: 4px;
				position: relative;
				cursor: pointer;				

				&:before{
					display: block;
					content: '';
					width: 95%;
					height: 98%;
					border: 4px solid #ffffff;
					position: absolute;					
					top: 10px;
					left: 5px;
					overflow: visible;
					z-index: 500;
				}

				span{
					display: block;
					width: inherit;
					height: inherit;
					position: relative;
					// overflow: hidden;
					z-index: 100;				

					img{
						width: 100%;
						max-height: 100%;				
						z-index: 50;
					}					
				}
				//Class system for the differing sizes of content item size
				&.default{
					width: 180px;
					height: 180px;
				}				
				&.one-x-one{
					width: 180px;
					height: 180px;

					&:before{
						width: 100%;
						height: 80%;
						left: 10px;
						top: 40px;
					}

				}
				&.one-x-two{
					width: 180px;
					height: 360px;

					&:before{
						width: 90%;
						left: 10px;
						top: 5px;
					}
				}
				&.two-x-two{
					width: 360px;
					height: 360px;

					&:before{
						width: 98%;
						height: 85%;
						top: 20px;
					}

				}
				&.two-x-one{
					width: 360px;
					height: 180px;

					&:before{
						height: 90%;
						left: 5px;
						top: 10px;
					}
				}						
			}
		}
		.loading_spinner{
			@include add_prefix('transform', skew(10deg) rotate(10deg));
		}
	}
	#overlay_bg{
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		min-width: 100%;
		min-height: 100%;
		background: rgba(0,0,0,0.75);
		z-index: 5000;

		&.active_overlay{
			display: block;
		}

		.viewport_openening{
			position: relative;
			top: -470px;

			.youtube-player{
				width: 940px;
			}

			.active_viewport{
				width: 940px;
				min-height: 470px;
				background-color: $bg-colour;
				position: relative;
				margin: 0 auto;				

				.close-overlay{
					border: none;
					outline: none;
					display: block;
					width: 22px;
					height:26px;
					position: absolute;
					top: -35px;
					right: 0;
					background: url('../images/close-overlay.png') no-repeat 0 0 transparent;
				}

				img{
					width: 940px;
					display: none;			
				}

				#descr_box{
					display: block;
					float: left;
					padding: 5px 8px;
					background-color: $bg-colour;
					position: absolute;
					bottom: -50px;

					h2{
						margin: 0 0 8px;
						color: #333333;
						font: {
							family: 'toyotadisplay_bd';
							size: 18px;
						}
					}
					p{
						margin: 0;
						padding: 0;
						color: #333333;
						font:{
							family: 'toyotadisplay_rg';
							size: 14px;
						}
					}
				}
			}
		}
	}
}