/*
*
* global variables and base styles
*
*/
$jaak-colour: rgba(240, 143, 116, 1);
$jaak-white: #ffffff;
$bg-color: #c2bbbb;
$play-screen-bg: #b9b9b9;
$play-bg: rgba(255, 255, 255, 0.2);
$play-bt: rgba(255, 255, 255, 0.8);
$pause-bt: #ffffff;
$track-title: #ffffff;
$track-artist: rgba(255, 255, 255, 0.6);
$track-duration: rgba(255,255,255, 0.75);

$baseText: 14px;
$track-title-size: 19px;
$track-artist-size: 11px;
$body-size: 14px;
$info-title-size: 16px;
$info-sub-title-size: 16px;
$landing-title: 38px;
$landing-sub-title: 16px;
$landing-top-margin: 45px;

$playerWidth: 300px;

$album-blur: 5px;

$jaak-radius: 4px;

$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);

$xsBreakpoint: 767px;
$smBreakpoint: 991px;
$mdBreakpoint: 1025px;
$largeDesktop: 1710px;
$largeWindow: 1920px;
$desktop: 1025px;

$peach: rgba(240, 143, 116, 1);
$greyishBrown: #4a4a4a;
$off-white: #f7f7f7;
$border-colour: rgba(151, 151, 151, 1);
$standardBorder: 2px solid $greyishBrown;