@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
/*
*
* global variables and base styles
*
*/
/*@import url(fonts.css);*/
@keyframes music {
  0% {
    height: 0; }
  50% {
    height: 20px; }
  100% {
    height: 5px; } }
@-webkit-keyframes shakeInput {
  33% {
    transform: translate3d(15px, 0, 0); }
  66% {
    transform: translate3d(-15px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes shakeInput {
  33% {
    transform: translate3d(15px, 0, 0); }
  66% {
    transform: translate3d(-15px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.vinyl-front {
  max-width: 350px;
  border: 2px solid #f08f74;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto 30px;
  float: none; }
  .vinyl-front .inner-circle {
    margin: 25% auto;
    display: block;
    width: 140px;
    height: 140px;
    content: '';
    border: 70px solid #f08f74;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .vinyl-front .dot-wrap {
    width: 100%;
    position: absolute;
    top: 43%;
    left: 0; }
    .vinyl-front .dot-wrap .inner-dot {
      margin: 0 auto;
      display: block;
      width: 40px;
      height: 40px;
      content: '';
      border: 20px solid #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  @media (min-width: 991px) {
    .vinyl-front {
      float: left; } }

.inner-wrapper, .confirmation-screen {
  display: inline-block;
  width: calc(100vw - 20px);
  min-height: calc(100vh - 20px);
  background-color: #ffffff;
  margin: 10px;
  position: relative; }
  .dashboard .inner-wrapper, .dashboard .confirmation-screen {
    width: 100%;
    margin: 0; }

.v-middle {
  display: table;
  width: 100%;
  margin: 50px 0; }
  @media (min-height: 450px) {
    .v-middle {
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0); } }

.home-main {
  width: 100%;
  min-height: calc(100vh - 100px);
  background: #f7f7f7;
  background-color: #f7f7f7;
  padding: 50px 15px;
  float: left;
  display: table;
  position: relative; }
  @media (min-width: 767px) {
    .home-main {
      padding: 50px 30px;
      width: calc(100vw - 300px); } }

figure {
  margin: 0; }

.wide-wrap {
  display: inline-block;
  width: 100vw;
  padding: 0 15px; }

.dummy-ele {
  display: none; }

.file-pod {
  position: relative;
  height: 80px; }
  .file-pod .fake-button {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: -2px;
    left: 0;
    pointer-events: none;
    padding: 28px 0 0;
    cursor: pointer;
    border: 2px solid #4a4a4a; }
    .file-pod .fake-button p, .file-pod .fake-button input {
      color: #4a4a4a;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 1.42857rem;
      text-transform: uppercase;
      text-overflow: ellipsis;
      max-width: 320px;
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden; }
    .file-pod .fake-button a {
      text-decoration: none; }
    .file-pod .fake-button.cancel-upload {
      pointer-events: auto; }
  .file-pod input {
    border: none;
    padding: 0;
    height: 75px;
    width: 100%;
    margin: 0 auto; }

.info-box {
  border: 2px solid #4a4a4a;
  padding: 30px 15px 0;
  background: #ffffff;
  background-color: #ffffff; }

.force-height {
  width: 100%;
  display: table; }

.bottom-bump {
  margin-bottom: 30px !important; }

body,
html {
  min-height: 100vh;
  background: #ffffff;
  speak: none;
  font-style: normal;
  font-family: 'avenir', sans-serif;
  font-weight: 100;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 75%; }
  @media (min-width: 767px) {
    body,
    html {
      font-size: 100%; } }
  body.dashboard,
  html.dashboard {
    background: #ffffff; }

h1,
h2,
h3 {
  color: #4a4a4a; }

.form-item {
  margin: 30px 0;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #4a4a4a; }
  .form-item.top-item {
    margin-top: 0; }

input {
  border: none; }

.text {
  width: 100%;
  height: 60px;
  padding: 20px 0 20px;
  color: #4a4a4a;
  transition: 0.5s linear all;
  font-size: 1.07143rem;
  font-weight: 900;
  line-height: 3.57143rem;
  text-align: left;
  border: none; }
  .text.invalid {
    -webkit-animation: shakeInput 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1;
    animation: shakeInput 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1; }

.form-control {
  border: none;
  box-shadow: none;
  font-weight: 900;
  font-size: 15px;
  height: 45px;
  margin-left: -8px; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }

a {
  color: #4a4a4a;
  text-decoration: underline; }

p {
  margin: 0; }

.body-copy {
  font-size: 15px;
  letter-spacing: 2.5px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: 900; }

.uppercase {
  text-transform: uppercase; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.indent {
  text-indent: -999999px; }

.peach {
  color: #f08f74 !important; }

.grey {
  color: #4a4a4a; }

.invalid {
  box-shadow: 0 0 8px #f08f74;
  -webkit-animation: shakeInput 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1;
  animation: shakeInput 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1; }

.light-copy {
  font-weight: 300; }

::-webkit-input-placeholder {
  text-align: left;
  color: #b9b9b9;
  font-size: 1.07143rem;
  font-weight: 900;
  letter-spacing: 0.10714rem; }

:-moz-placeholder {
  text-align: left;
  /* Firefox 18- */
  color: #b9b9b9;
  font-size: 1.07143rem;
  font-weight: 900;
  letter-spacing: 0.10714rem; }

::-moz-placeholder {
  text-align: left;
  /* Firefox 19+ */
  font-size: 1.07143rem;
  font-weight: 900;
  letter-spacing: 0.10714rem;
  color: #b9b9b9; }

:-ms-input-placeholder {
  text-align: left;
  color: #b9b9b9;
  font-size: 1.07143rem;
  font-weight: 900; }

.btn {
  text-decoration: none;
  width: 100%;
  max-width: 268px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 1.07143rem;
  letter-spacing: 0.16429rem;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  -webkit-transition: color 333ms;
  -moz-transition: color 333ms;
  -ms-transition: color 333ms;
  -o-transition: color 333ms;
  transition: color 333ms; }
  .btn:hover {
    color: #f08f74; }
  .btn-hollow {
    background: transparent;
    background-color: transparent;
    line-height: 30px; }
  .btn-solid {
    background: #4a4a4a;
    background-color: #4a4a4a;
    color: #ffffff; }
  .btn.large {
    width: 100%;
    max-width: 100%;
    height: 80px;
    border-width: 1px 0 0; }
  .btn.thin {
    height: 50px; }
  .btn.line-nudge {
    line-height: 3.57143rem; }
  .btn-text {
    outline: none;
    font-weight: 300;
    min-width: 40px; }
    .btn-text.selected {
      font-weight: 900; }
  .btn.disabled {
    cursor: auto;
    opacity: 0.75; }
    .btn.disabled:hover {
      content: #ffffff; }

.pull-right {
  float: right; }

.sub-title h2 {
  width: 60px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 900;
  display: block;
  text-transform: uppercase; }
  .sub-title h2:after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background: #000;
    margin: 15px auto; }

.large-title {
  font-size: 40px;
  font-weight: 900;
  margin: 0; }

.small-title {
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 5px; }

.filter-title {
  width: 100%;
  text-align: left;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  padding-bottom: 30px;
  padding-top: 30px; }
  .filter-title:first-child {
    padding-top: 0; }

.filter-option {
  font-size: 14px;
  letter-spacing: 5px;
  width: 100%;
  position: relative;
  font-weight: 900;
  cursor: pointer;
  text-align: left;
  line-height: 30px; }
  .filter-option.selected {
    border-bottom: 1px solid #4a4a4a; }
    .filter-option.selected:after {
      content: 'X';
      position: absolute;
      right: 0;
      top: 5px; }

.item-title {
  letter-spacing: 2px;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase; }

.item-creator {
  letter-spacing: 1px;
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize; }

.header-bar {
  height: 100px;
  background: #ffffff;
  background-color: #ffffff;
  border-bottom: 0.5px solid #4a4a4a;
  padding-top: 30px;
  padding-bottom: 30px; }
  .header-bar .main-logo {
    width: 150px;
    height: 24px;
    padding-top: 10px; }
    .header-bar .main-logo img {
      width: 100%; }
  .header-bar .btn-login {
    float: right; }
  .header-bar .creator-avatar {
    width: 50px;
    border-radius: 50%;
    float: right;
    height: 55px;
    background-size: contain;
    padding: 0;
    margin-top: -5px; }
    .header-bar .creator-avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
  .header-bar .username {
    float: right;
    padding: 12px 15px 0 0; }

.left-bar {
  width: 300px;
  min-height: calc(100vh - 100px);
  padding: 50px 30px;
  float: left;
  position: relative; }
  .left-bar .upload-btn {
    padding-bottom: 30px; }
  .left-bar .filter-selection {
    padding-bottom: 50px; }
  .left-bar .sub-choices {
    display: none; }
    .left-bar .sub-choices.active {
      display: block; }
  .left-bar .legal {
    position: absolute;
    bottom: 15px;
    left: 30px;
    letter-spacing: 1px; }

.latest .selection-bar {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.5 cubic-bezier(0.42, 0, 1, 1); }
  @media (min-width: 767px) {
    .latest .selection-bar {
      left: 300px;
      padding: 20px 30px;
      width: calc(100vw - 300px); } }
  .latest .selection-bar.selecting {
    opacity: 1; }
  .latest .selection-bar p {
    padding-top: 15px; }
  .latest .selection-bar .confirm-selection {
    float: right; }
.latest .content-item {
  float: left;
  height: 180px;
  padding: 0 15px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .latest .content-item:after {
    position: absolute;
    top: 5px;
    right: 20px;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/plus-icon@3x.42x42.png") no-repeat 0 0 transparent;
    background-size: contain; }
  .latest .content-item.selected:after {
    background-image: url("../images/check-icon@3x.25x25.png"); }
  .latest .content-item[data-file="type-1"] {
    width: 50%; }
  .latest .content-item[data-file="type-0"] {
    width: 25%; }
  .latest .content-item .preview {
    width: 100%;
    height: 100%; }
    .latest .content-item .preview img {
      max-width: 100%;
      object-fit: contain; }
  .latest .content-item .info {
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 6px 10px; }

.sign-up {
  display: table;
  width: 100%;
  margin: 50px 0; }
  @media (min-height: 690px) {
    .sign-up {
      margin-top: 0;
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0); } }
  .sign-up .form-choice {
    padding-top: 60px; }
    .sign-up .form-choice .choice {
      padding-bottom: 30px; }
  .sign-up .branding {
    width: 265px;
    height: 70px;
    margin: 0 auto; }
    .sign-up .branding img {
      max-width: 100%;
      display: block; }
  .sign-up .sign-up-form {
    max-width: 370px;
    margin: 30px auto 0; }
    .sign-up .sign-up-form .col-xs-12 {
      padding-bottom: 15px; }
    .sign-up .sign-up-form .registration-form .ctas {
      margin-top: 60px; }
    .sign-up .sign-up-form .file-pod {
      max-width: 370px; }
    .sign-up .sign-up-form input {
      text-align: center; }
  .sign-up .btn-upload {
    margin-top: 30px; }

.login {
  background: #f7f7f7;
  background-color: #f7f7f7; }
  .login .login-area {
    max-width: 450px;
    margin: 60px auto 0;
    display: block;
    border: 2px solid #4a4a4a;
    padding: 40px 0 0;
    background: #ffffff;
    background-color: #ffffff; }
  .login .login-form {
    padding: 30px 50px; }
  .login input.text {
    text-align: center; }
  .login ::-webkit-input-placeholder {
    text-align: center; }
  .login :-moz-placeholder {
    text-align: center;
    /* Firefox 18- */ }
  .login ::-moz-placeholder {
    text-align: center; }
  .login :-ms-input-placeholder {
    text-align: center; }

.upload {
  background: #f7f7f7;
  background-color: #f7f7f7;
  min-height: calc(100vh - 100px);
  padding-bottom: 60px; }
  .upload .choose-file {
    max-width: 450px;
    margin: 60px auto 0;
    display: block;
    border: 2px solid #4a4a4a;
    padding: 40px 0 0;
    background: #ffffff;
    background-color: #ffffff;
    display: table; }
    .upload .choose-file .file-pod {
      margin-top: 30px; }
      .upload .choose-file .file-pod .fake-button {
        border-width: 1px 0 0; }
  .upload .inner {
    padding: 0 30px; }
  .upload .three-col {
    padding-top: 50px; }
  .upload .file-icon {
    width: 80px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px; }
  .upload .sub-title {
    margin-bottom: 30px; }
  .upload .terms {
    padding: 5px 15px 0; }
    .upload .terms p {
      float: left; }
  .upload .terms-checkbox {
    float: left;
    margin: 0 5px 0 0; }
  .upload .preview-guidlines {
    padding: 30px 0; }
  .upload .preview-file {
    height: 255px; }
    .upload .preview-file img {
      max-width: 100%; }
  .upload .form-type {
    display: none; }
    .upload .form-type.active {
      display: block; }
  .upload .upload-step {
    display: none; }
    .upload .upload-step.active {
      display: block; }
  .upload .verified-status .peach {
    padding-left: 15px;
    text-align: left;
    position: relative; }
    .upload .verified-status .peach:after {
      width: 20px;
      height: 20px;
      content: '';
      display: block;
      background: url("../images/check-icon@3x.25x25.png") no-repeat 0 0 transparent;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 10px; }
  .upload .verify .info-box {
    position: relative; }
  .upload .verify .verify-cost {
    position: absolute;
    top: 30px;
    right: 30px; }
  .upload .asset-form-middle {
    background: #ffffff;
    background-color: #ffffff;
    border: 2px solid #4a4a4a;
    padding-top: 50px; }
  .upload .progress-view {
    border: 1px solid #4a4a4a;
    background: #ffffff;
    background-color: #ffffff;
    display: table; }
    .upload .progress-view .progress-step {
      border-bottom: 1px solid #4a4a4a;
      padding: 15px 15px 0;
      text-transform: uppercase; }
      .upload .progress-view .progress-step .body-copy {
        text-transform: uppercase; }
      .upload .progress-view .progress-step:last-child {
        border: none; }
      .upload .progress-view .progress-step.active {
        background: #4a4a4a;
        background-color: #4a4a4a;
        color: #ffffff; }
      .upload .progress-view .progress-step.complete {
        color: #f08f74; }
        .upload .progress-view .progress-step.complete .body-copy:after {
          width: 20px;
          height: 20px;
          content: '';
          display: block;
          background: url("../images/check-icon@3x.25x25.png") no-repeat 0 0 transparent;
          background-size: contain;
          position: absolute;
          top: 12px;
          right: 10px; }
  .upload .license .body-copy {
    font-size: 14px;
    letter-spacing: 1.5px; }
  .upload .license-menu {
    width: 75%;
    margin: 0 auto; }
    .upload .license-menu .btn {
      border-width: 0; }
      .upload .license-menu .btn.selected:after {
        content: '';
        display: block;
        height: 1px;
        width: 50%;
        background: #000;
        margin: 15px auto; }
  .upload .publish input.body-copy {
    width: 100%; }
  .upload .publish .preview-file {
    margin-bottom: 30px;
    background: transparent;
    background-color: transparent;
    height: auto; }

.dashboard .info-box {
  padding-bottom: 30px; }
  .dashboard .info-box input {
    width: 100%; }
.dashboard .activities-feed {
  height: 100%; }
  .dashboard .activities-feed .info-box {
    padding-bottom: 0; }
.dashboard .activities {
  padding-top: 30px;
  min-height: 125px; }
  .dashboard .activities .body-copy {
    padding-bottom: 0; }
  .dashboard .activities .small-title {
    text-align: right;
    padding-bottom: 0; }
.dashboard .activity {
  height: 70px;
  line-height: 70px; }
  .dashboard .activity:nth-child(odd) {
    background: #fafafa;
    background-color: #fafafa; }
  .dashboard .activity .small-title {
    text-transform: none; }

.embed .preview-file img {
  max-width: 100%; }
.embed .info-box.large {
  padding-bottom: 30px; }
.embed .small-title {
  padding: 0; }
.embed .body-copy {
  padding-top: 0; }
.embed .form-item {
  margin: 0; }
.embed .form-label {
  line-height: 60px; }

.confirm-inner {
  background: #fff;
  max-width: 800px;
  min-height: 90vh;
  text-align: center;
  margin: 100px auto 0; }
  .confirm-inner .vinyl-front {
    max-width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .confirm-inner .woosh-lines {
    float: left; }
    .confirm-inner .woosh-lines ul {
      padding-top: 40px;
      padding-right: 40px; }
    .confirm-inner .woosh-lines li {
      margin: 0 0 80px;
      height: 2px;
      background-color: #f08f74;
      display: block;
      float: right; }
      .confirm-inner .woosh-lines li:nth-child(1) {
        width: 200px; }
      .confirm-inner .woosh-lines li:nth-child(2) {
        width: 150px; }
      .confirm-inner .woosh-lines li:nth-child(3) {
        width: 240px; }
  .confirm-inner.confirmed {
    display: block; }
  .confirm-inner h1 {
    font-size: 32px;
    color: #000;
    font-weight: 300;
    color: #f08f74; }
  .confirm-inner h2 {
    margin: 30px auto;
    font-size: 26px;
    color: #f08f74;
    font-weight: 300; }
  .confirm-inner .btn-peach {
    float: none;
    margin: 0 auto; }

/*# sourceMappingURL=jaak-steez.css.map */
