$xsBreakpoint: 738px;
$smBreakpoint: 991px;
$mdBreakpoint: 1025px;
$largeDesktop: 1710px;
$largeWindow: 1920px;
$desktop: 1025px;

$txt-colour: #ffffff;
$logo-text-size: 40px;
$title-size: 64px;
$sub-title-size: 32px;

$off-white: #f7f7f7;
$dark-bg: #323131;

$ease-in-out: cubic-bezier(.25,.1,.25,1);
$linear: cubic-bezier(1,1,0,0);

//backgrounds

