* {
  box-sizing: border-box;
}
 
body, figure {
  margin: 0;
}

body, html {
  background: {
    image: url('../images/bandanna-fade.png');
    repeat: repeat;
    size: 100% auto;
  }
}

button {
  outline: none;
  border: none;
}

@import 'mixins.scss', 'variables.scss', 'typography.scss', 'header.scss', 'hero.scss', 'main-content.scss';

.main-content {

  a {
    text-decoration: none;
    color: #C3DBDD;
    transition: all 750ms $ease-in-out;

    &:hover {
      filter: blur(2px);
    }
  }

}