body{
	&.win, &.windows{
		.step-four{
			.date-wrapper #service-time{
				.time-choice{
					font-size: 38px;
				}
			}
		}
	}

	&.msie{	
		&.v8, &.ie8{		
			#olb-wrap{
				#progess .progess-bar{
					height: 45px;
					background: {
						image: url('../images/ie8-progress-bar-bg.png');
						repeat: no-repeat;
						color: transparent;
						size: 100% auto;
					}

					&.step1{
						background-position: 0 0 !important;
					}
					&.step2{
						background-position: 0 -45px !important;
					}
					&.step3{
						background-position: 0 -88px !important;
					}
					&.step4{
						background-position: 0 -130px !important;
					}
					&.step5{
						background-position: 0 -174px !important;
					}
					&.step6{
						background-position: 0 -218px !important;
					}
					&.step7{
						background-position: 0 -270px !important;
					}

					li{
						display: none;
						&:before, &:after{
							display: none;
						}
					}
				}	
				.icon-checkmark{						
					&:before, &:after{
						width: 24px !important;
						height: 24px !important;  //!important used to save having crazy long selectors
						background: url('../images/ie8-icons.png') no-repeat 0 -68px;
						content: '';
						border: none;
						left: 15px;
						top: 12px;
					}
					&.selected-option, &.selected{
						&:before, &:after{
							background-position: 0 -92px;
						}
					}
				}	
				.service-plan:after{
					display: none !important;
				}
				.service-badge{
					height: 26px !important;
					background: url('../images/service-badge-sprite.png') no-repeat	0 0 !important;
				}
				.repair-choices li{
					&:before, &:after{
						background: url('../images/ie8-icons.png') no-repeat 0 -116px;
						content: '';
						border: none;
						top: 3px;
						height: 24px;
					}
					&.repair-selected{
						&:before, &:after{
							background-position: 0 -140px;
						}
					}
				}
				.step-three{
					.choose-wait li{
						&:before{
							left: 92px;
							top: 119px;
						}
						&:after{
							left: 85px;
							top: 115px;
							display: none;
						}						
					}
				}
				.step-four{
					.date-wrapper #service-time{
						.time-choice{
							background-image: none;
							text-indent: -5px;
							z-index: 1;
							padding: 0;

							option{
								font-family: 'Verdana';							
								z-index: 0;
							}
						}
					}
				}
				.step-five{
					.customer-form{
						select{
							background-image: none;
						}
					}
					#hear-about{
						li{
							&:after{
								border: none;
							}
							&:before{
								display: none;
							}
						}
					}
					#opt-outs{
						li{
							text-indent: 50px;
							padding: 12px 0 0;
						}
					}
				}
			}
		}
	}
	&.firefox{		
		select{
			-moz-appearance: window;
			background-image: none !important;
		}
		.olb-steps.step-four .date-wrapper #service-time{
			.time-choice{
				padding: 0px 0 0 10px;
				width: 90px;
			} 
		}
	}
	&.firefox{
		select{
			-moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
		}
	}
	&.v11a, &.v11{
		select::-ms-expand {
	    display: none !important;
		}
		.olb-steps.step-four .date-wrapper #service-time{
			.time-choice{
				background: url('/sites/all/modules/custom/service_booking/images/select-dropdown-blue.png') center 60px no-repeat #78b1cc;
			}
		}
	}
}