body{
	&.win, &.windows{
		.step-four{
			.date-wrapper #service-time{
				.time-choice{
					font-size: 38px;
				}
			}
		}
	}

	&.msie{	
		&.v8, &.ie8{		
			#olb-wrap{
				#progess .progess-bar{
					li{
						&:before{
							width: 25px;
							height: 22px;
							background: url('../images/ie8-icons.png') no-repeat 0 -45px;
							border: none;
							top: -1px;
							z-index: 100000;
						}						
						&.active{
							&:before{						
								background: url('../images/ie8-icons.png') no-repeat 0 0;						
								z-index: 100000;
							}
						}
						&.completed{
							&:before{						
								background: url('../images/ie8-icons.png') no-repeat 0 -22px;
								content: '';
								height: 25px;
								z-index: 500;
							}
							&:after{
								left: 60%;
							}
						}
						&:after{
							z-index: 1 !important;
						}
					}
				}	
				.icon-checkmark{						
					&:before, &:after{
						width: 24px !important;
						height: 24px !important;  //!important used to save having crazy long selectors
						background: url('../images/ie8-icons.png') no-repeat 0 -68px;
						content: '';
						border: none;
						left: 15px;
						top: 12px;
					}
					&.selected-option, &.selected{
						&:before, &:after{
							background-position: 0 -92px;
						}
					}
				}	
				.service-plan:after{
					display: none !important;
				}
				.service-badge{
					height: 26px !important;
					background: url('../images/service-badge-sprite.png') no-repeat	0 0 !important;
				}
				.repair-choices li{
					&:before, &:after{
						background: url('../images/ie8-icons.png') no-repeat 0 -116px;
						content: '';
						border: none;
						top: 3px;
						height: 24px;
					}
					&.repair-selected{
						&:before, &:after{
							background-position: 0 -140px;
						}
					}
				}
				.step-three{
					.choose-wait li{
						&:before{
							left: 92px;
							top: 119px;
						}
						&:after{
							left: 85px;
							top: 115px;
							display: none;
						}						
					}
				}
				.step-four{
					.date-wrapper #service-time{
						.time-choice{
							background-image: none;
							text-indent: -5px;
							z-index: 1;
							padding: 0;

							option{
								font-family: 'Verdana';							
								z-index: 0;
							}
						}
					}
				}
				.step-five{
					.customer-form{
						select{
							background-image: none;
						}
					}
					#hear-about{
						li{
							&:after{
								border: none;
							}
							&:before{
								display: none;
							}
						}
					}
					#opt-outs{
						li{
							text-indent: 50px;
							padding: 12px 0 0;
						}
					}
				}
			}
		}
	}
	&.firefox, &.msie, &.v11 {
		select::-ms-expand {
	    display: none !important;
		}
		select{
			-moz-appearance: window;
			background-image: none !important;
		}
		.olb-steps.step-four .date-wrapper #service-time{
			padding-left: 30px;

			.time-choice{
				padding: 0px 0 0 10px;
				width: 90px;
			} 
		}
	}
	&.firefox{
		.olb-steps{
			&.step-four .date-wrapper #service-time{
				padding-left: 0;
			}
		}
		select{
			-moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
		}
	}
}