#olb-steps{
	padding-top: 35px;

	.wide-input{
		width: 458px;
		height: 18px;
		float: left;
		margin: 6px 0;
		padding: 10px 15px;
		background-color: $content-area;
		text-transform: uppercase;
		border: {
			width: 1px 0 1px 1px;
			style: solid;
			color: $border-colour;
		}
	}
	button{
		margin: 6px 0;
		width: 134px;
	}

	#booking-choices{
		margin: 40px 0 0;

		.lite{
			padding: 0 95px 0 0;
		}

		ul{
			margin: 25px 0;

			.service-parent{
				padding: 15px 20px;
				min-height: 22px;
				margin: 0 0 10px;
				border: 1px solid $border-colour;
				position: relative;
				line-height: auto;

				&:before, &:after{
					position: absolute;
					color: $disabled-border;
					font: {
						size: 16px;
						family: 'icomoon';
					}
				}

				&:before{				
					left: 21px;
					top: 16px;
					z-index: 20;
				}

				&:after{
					@include empty_circle(25px, 25px, 2px, $disabled-border);
					left: 15px;
					top: 12px;
					z-index: 10;					
				}

				.service-inner{
					display: none;
					padding: 20px 0 0;

					.wide-input{
						width: 415px;
					}
				}

				h3{
					font-size: 16px;
					margin: 0 0 0 35px;
					color: $txt-colour;
					float: left;

					&.price{
						color: $active-state;
						float: right;
						margin: 0;
					}
				}

				&.selected{
					h3{					
						color: $active-state;
					}
					&:before{
						color: $button-txt;
					}
					&:after{					
						border-color: $active-state;
						background-color: $active-state;
					}

					.service-inner{
						display: block;						
					}
				}
				.repair-choices{
					margin: 5px 0 15px;

					li{
						width: 280px;
						float: left;
						position: relative;
						margin: 0 10px 5px 0;

						h4{
							margin: 4px 0 0;						
							float: left;

							&.price{
								float: right;
								margin-right: 35px;
							}
						}

						&:before{
							display: block;
							content: '+';
							color: $disabled-border;
							font-size: 24px;
							position: absolute;
							right: 8px;
							top: 2px;
						}
						&:after{
							@include empty_circle(25px, 25px, 2px, $disabled-border);
							position: absolute;
							right: 0;
						}
					}	
				}					
			}
		}
	}
}