$xsBreakpoint: 738px;
$smBreakpoint: 991px;
$mdBreakpoint: 1025px;
$largeDesktop: 1710px;
$largeWindow: 1920px;
$desktop: 1025px;

$txt-colour: #ffffff;
$finance-txt-colour: #1e2a32;

$ease-in-out: cubic-bezier(.25,.1,.25,1);
$linear: cubic-bezier(1,1,0,0);

//backgrounds
$blue-bg: #00002e;
$light-blue-bg: #004971;
$grey-bg: #000000;
$red-bg: #490013;
$green-bg: #003e33;
$orange-bg: #903d1d;
