* {
  box-sizing: border-box; }

body, figure {
  margin: 0; }

body, html {
  background-image: url("../images/cupcakes-bg.1600x1600.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }

button {
  outline: none;
  border: none; }

.main-area {
  padding-top: 60px; }

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%; }

.body-copy {
  font-size: 1.14286rem;
  color: #f7f7f7;
  text-align: center; }

.header {
  width: 100vw;
  height: 100px;
  background: url("../images/picnicbox-main-logo.883x99@3x.png") no-repeat center 15px;
  background-size: 50% auto; }
