//base 
* {
  box-sizing: border-box;
}
 
body, figure {
  margin: 0;
}

body, html {
  min-height: 100vh;
  // @include linearGradient($liteBlue, $darkBlue);  
}

button {
  outline: none;
  border: none;
}

.main-area {
	padding-top: 60px;
}