//base 
* {
  box-sizing: border-box;
}
 
body, figure {
  margin: 0;
}

body, html {
  min-height: 100vh;
  background: #f7f7f7;
  background-color: #f7f7f7;
}

button {
  outline: none;
  border: none;
}

.main-area {
	padding-top: 60px;
}