//hero 
.hero {
	height: 100vh;
	padding-top: 80vh;
	width: 100vw;
	background: {
  	image: url('../images/naughty-brownie.1200x1600.jpg');
  	repeat: no-repeat;
  	position: center center;
  	size: cover;
  }  
}