//insta-feed
.insta-feed {

	.insta-img {
		width: 100%;
		max-width: 640px;
		display: block;
		margin: 0 auto;
	}

	.insta-caption {
		padding: 15px 0 5px;
		color: #4a4a4a;
		text-align: center;
		font-size: rem(22px);
		margin-bottom: 0;
	}

	.insta-link {
		font-size: rem(18px);
		color: #0f2229;
		text-align: center;
		display: block;
		margin-bottom: 15px;

		&:hover {
			text-decoration: line-through;
		}
	}

}