$xsBreakpoint: 738px;
$smBreakpoint: 991px;
$mdBreakpoint: 1025px;
$largeDesktop: 1710px;
$largeWindow: 1920px;
$desktop: 1025px;

$ease-in-out: cubic-bezier(.25,.1,.25,1);
$linear: cubic-bezier(1,1,0,0);

//backgrounds
$liteBlue: #15303b;
$darkBlue: #0f2229;
$darkGrey: #9b9b9b;