<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>new tgb gallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->

  <!-- endbower -->
  <!-- endbuild -->
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/reset.css">
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/general.css">
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/print.css">
  <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/modules/custom/tgb_car_chapters/tgb_car_chapters.css">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <script src="bower_components/modernizr/modernizr.js"></script>

</head>

<body> 
  <div class="container">
    <div id="gallery-wrap">
      <nav>
        <button id="exteriors"></button>
        <button id="interiors"></button>
      </nav>
      <div id="main_viewport"></div>      
    </div>
  </div>

  <script id="thumb_temp" type="text/template">
    <span id="<%= model_ID %>" class="thumb_inner" data-title="<%= title %>">
      <img src="<%= thumb_src %>" alt="<%= desc %>" />
    </span>
  </script> 
  
<!--   <script id="img_main_temp" type="text/template">
    <img src="<%= main_src %>" alt="<%= desc %>" title="<%= title %>" />
    <div id="descr_box">
      <h2><%= title %></h2>
      <p><%= desc %></p>
    </div>
    <aside id="magnify"></aside>
  </script> -->

  <script id="video_template" type="text/template">
    <iframe class="youtube-player" type="text/html" width="940" height="486" src="http://www.youtube.com/embed/<%= video_ID %>?wmode=transparent" frameborder="0"></iframe>
  </script>

  <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>
</body>

</html>
