.overlay-bg{
	min-width: 100%;
	min-height: 150%;
	display: none;
	background-color: rgba(0,0,0, 0.75);
	position: fixed;
	left: 0;
	top: 0;	
	z-index: 999000;
	// @include add_prefix()

	&.popping{
		display: block;
	}
}

.pop-wrap{
	width: 100%;
	min-height: 600px;
	position: absolute;
	top: 5%;
	bottom: 5%;	
	display: none;
	z-index: 999999;

	&.popping{
		display: block;

		.pop-inner{
			width: 880px;
			margin: 0 auto;
			position: relative;

			.close-overlay{
				width: 42px;
				height: 42px;
				display: block;
				position: absolute;
				right: -42px;
				top: 0;
				outline: none;
				background: url('../images/close-overlay.png') no-repeat 0 0;
			}

			ul{
				list-style: none;					
				// padding: 0 30px;

				&.tab-selectors{

					li{
						float: left;
						padding: 20px 30px 15px;
						text-transform: uppercase;
						border-right: 1px solid #212223;
						margin: 0;
						color: #ffffff;
						cursor: pointer;
						font: {
							family: 'toyotadisplay_bd';
							size: 14px;
						}

						&.inter{
							background-color: $inter-service;							
							&.active{
								color: $inter-service;
							}								
						}
						&.full{
							background-color: $full-service;	
							&.active{
								color: $full-service;	
							}
						}
						&.plus{
							background-color: $plus-service;
							&.active{
								color: $plus-service;
							}
						}
						&.active{
							background-color: #ffffff;
						}
					}
				}

				&.finding-out{
					background-color: #ffffff;
					padding: 40px 30px;

					li{
						display: none;

						&.inter{
							background: url('../images/inter-service-badge.png') no-repeat right 5px;
						}
						&.full{
							background: url('../images/full-service-badge.png') no-repeat right 5px;
						}
						&.plus{
							background: url('../images/plus-service-badge.png') no-repeat right 5px;
						}
						&.active{
							display: block;
							li{
								display: block;
							}
						}
					}

					h3{
						width: 85%;
						text-transform: uppercase;
						line-height: 26px;						
						font: {
							family: 'toyotadisplay_bd';
							size: 18px;
						}

						&.inter-title{
							color: $inter-service;
						}
						&.full-title{
							color: $full-service;
						}
						&.plus-title{
							color: $plus-service;
						}
					}
					.detail-colum{
						float: left;
						width: 350px;
						margin: 25px 0 0;

						li{
							color: #414248;
							line-height: 24px;
							margin: 0;
							padding: 0 25px 0 0;
							font: {
								family: 'toyotatext_rg';
								size: 13px;
							}
						}
					}
				}
			}
		}
	}	
}