.olb-steps{
	&.step-seven{		
		#thanks{
			border: 1px solid $border-colour;
			margin: 20px 0;
			padding: 20px 15px;

			p{
				font-size: 14px;
			}

			.confirmed-date{
				margin: 25px 0;
			}

			.final-links{
				color: $active-state;
				float: left;
				margin: 40px 0 0;
				text-decoration: none;
				font-size: 14px;
				font-family: 'toyotatext_bd';

				&:after{
					content: '>';
					margin: 0 0 0 10px;
				}
				&.right{
					float: right;
				}

			}
		}
		#sorry-submit{
			text-align: center;
			padding: 100px 0;

			h3{
				line-height: 32px;
			}
		}
	}
}