//Typography
body,
html {
  speak: none;
  font-style: normal;
  font-family: 'avenir', sans-serif;
  font-weight: 100;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $greyishBrown;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70%;
  
  @include breakpoint(min-width, $xsBreakpoint) {
    font-size: 90%;
  }
  @include breakpoint(min-width, $smBreakpoint) {
    font-size: 100%;
  }
}

h1, h2, h3 {
	margin: 0;
}

.main-title {
	font-size: rem(36px);
	color: $peach;
	margin-bottom: rem(30px);
	letter-spacing: rem(3.5px);

	@include breakpoint(min-width, $xsBreakpoint) {
		letter-spacing: rem(2.5px);
	}
	transition: color $animationDuration $ease-in;

	@at-root .jaakOS .main-title {
		color: #ffffff;
	}
}


@media only screen
 	and (max-width: $xsBreakpoint)
	and (orientation: portrait) {
		@at-root .jaakOS .main-title {
			max-width: 250px;
			margin-left: auto;
			margin-right: auto;
		}
}

.tertiary-title {
	font-size: rem(30px);
	color: $peach;
	margin: rem(30px) 0;
	letter-spacing: rem(3.5px);

	@include breakpoint(min-width, $xsBreakpoint) {
		letter-spacing: rem(5px);
	}
	transition: color $animationDuration $ease-in;

	@at-root .jaakOS .main-title {
		color: #ffffff;
	}
}

.sub-title {
	font-size: rem(20px);
	letter-spacing: rem(2.5px);
	color: #ffffff;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: rem(30px);
}

.body-copy {
	font-size: rem(18px);
	color: $darkGrey;
	letter-spacing: rem(1.6px);
	line-height: rem(30px);

	@include breakpoint(min-width, $xsBreakpoint) {
		font-size: rem(20px);
		line-height: rem(28px);
	}
	transition: color $animationDuration $ease-in;

	@at-root .jaakOS .body-copy {
		color: #ffffff;
	}
}

.dropdown-toggle {
	width: 50%;
	text-align: left;
	position: relative;

	.caret {
		position: absolute;
		right: 15px;
		top: 15px;
		line-height: rem(27px);
	}
}

.btn {

	&-border {
		width: 100%;
		height: 50px;	
		border: 2px solid $peach;	
		color: $peach;
		border-radius: 0;
		margin-top: rem(30px);
		background-color: transparent;
		line-height: 35px;
		font-size: rem(14px);
		letter-spacing: rem(1.5px);
		transition: color $animationDuration $ease-in;

		&.tight {
			margin-top: 0;
		}

		@include breakpoint(min-width, $xsBreakpoint) {
			&.tight {
				margin-top: rem(30px);
			}
		}

		&:hover {
			color: $peach;
		}

		&.submit-form {
			margin-top: 0;
		}

		@at-root .jaakOS .btn-border {
			border-color: #ffffff;
			color: #ffffff;

			&:hover {
				color: #ffffff;
			}	
		}
	}

	&-social {
		@extend .indent;
		margin: 0 auto;
		display: block;

		&.twitter {
			width: 32px;
			height: 39px;
			background: url('../images/twitter-peach.32x28@3x.png') no-repeat center bottom;
			background-size: contain;

			@at-root .jaakOS .btn-social.twitter {
				background-image: url('../images/twitter-white.32x28@3x.png');
			}
		}

		&.facebook {
			width: 21px;
			height: 39px;
			background: url('../images/facebook-peach.21x39@3x.png') no-repeat center 0;
			background-size: contain;

			@at-root .jaakOS .btn-social.facebook {
				background-image: url('../images/facebook-white.21x39@3x.png');
			}
		}

		&.email {
			width: 38px;
			height: 39px;
			background: url('../images/email-peach.32x32@3x.png') no-repeat center bottom;
			background-size: contain;
			// margin-top: rem(22px);

			@at-root .jaakOS .btn-social.email {
				background-image: url('../images/email-white.32x32@3x.png');
			}
		}
	}
	
}

.greyish {
	color: $greyishBrown;
}

.dark-text {
	color: $darkGrey;
}