/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/

/* line 6, ../../app/styles/main.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

/* line 16, ../../app/styles/main.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 19, ../../app/styles/main.scss */

body {
  line-height: 1;
}

/* line 22, ../../app/styles/main.scss */

ol,
ul {
  list-style: none;
}

/* line 25, ../../app/styles/main.scss */

blockquote,
q {
  quotes: none;
}

/* line 28, ../../app/styles/main.scss */

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 32, ../../app/styles/main.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, ../../app/styles/main.scss */

#fake-header {
  height: 170px;
  min-width: 940px;
  max-width: 1480px;
  overflow: hidden;
  margin: 0 auto;
  background: url("../images/fake-header.jpg") no-repeat center 0;
}

/* line 1, ../../app/styles/_view-port.scss */

body {
  background: url("http://sharedstage.toyotaretail.co.uk.s3.amazonaws.com/car-chapter-assets/AYGO/gallery/NGAYGO-gallery-bg.png") repeat-y center 0 transparent;
}

/* line 5, ../../app/styles/_view-port.scss */

.page-new-car-gallery #main #content {
  width: 100%;
}

/* line 8, ../../app/styles/_view-port.scss */

.page-new-car-gallery #main #page-content-wrapper {
  padding: 0;
}

/* line 12, ../../app/styles/_view-port.scss */

#gallery-wrap {
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
  background: url("http://s3-eu-west-1.amazonaws.com/shareduat.toyotaretail.co.uk/car/background/NGAYGO-gallery-header.png") no-repeat center 0;
}

/* line 18, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport {
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  width: 940px;
  min-height: 1000px;
  background: #c7c7c7;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
  position: relative;
}

/* line 28, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul {
  height: 100%;
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

/* line 35, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul.active_list {
  display: block;
}

/* line 38, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li {
  float: left;
  width: 180px;
  height: 180px;
  position: relative;
  cursor: pointer;
  z-index: 500;
}

/* line 45, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li:before {
  display: block;
  content: '';
  width: 95%;
  height: 98%;
  border: 4px solid #ffffff;
  position: absolute;
  top: 10px;
  left: 5px;
  overflow: visible;
  z-index: 500;
}

/* line 57, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li span {
  display: block;
  width: inherit;
  height: inherit;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

/* line 64, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li span img {
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
  -webkit-backface-visibility: hidden;
  width: 102%;
  position: absolute;
  top: -18px;
  z-index: 5;
}

/* line 74, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.default {
  width: 180px;
  height: 180px;
}

/* line 78, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.one-x-one {
  width: 180px;
  height: 180px;
}

/* line 81, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.one-x-one:before {
  width: 100%;
  height: 80%;
  left: 10px;
  top: -10px;
}

/* line 88, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.one-x-two {
  width: 180px;
  height: 360px;
}

/* line 91, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.one-x-two:before {
  width: 90%;
  left: 10px;
  top: 5px;
}

/* line 96, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.one-x-two img {
  top: -18px;
}

/* line 100, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-two {
  width: 360px;
  height: 360px;
}

/* line 103, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-two:before {
  width: 98%;
  height: 85%;
  top: 20px;
}

/* line 108, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-two img {
  top: -40px;
}

/* line 112, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-one {
  width: 360px;
  height: 180px;
}

/* line 115, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-one:before {
  height: 90%;
  left: -15px;
  top: 10px;
}

/* line 120, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport ul li.two-x-one img {
  top: -40px;
}

/* line 126, ../../app/styles/_view-port.scss */

#gallery-wrap #main_viewport .loading_spinner {
  -webkit-transform: skew(10deg) rotate(10deg);
  transform: skew(10deg) rotate(10deg);
}

/* line 130, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5000;
}

/* line 139, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg.active_overlay {
  display: block;
}

/* line 142, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .inner-overlay {
  position: relative;
}

/* line 145, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening,
#gallery-wrap #overlay_bg .overlay_content {
  position: relative;
  top: -470px;
}

/* line 148, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .youtube-player,
#gallery-wrap #overlay_bg .overlay_content .youtube-player {
  width: 940px;
}

/* line 151, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .overlay-social,
#gallery-wrap #overlay_bg .overlay_content .overlay-social {
  display: block;
  position: absolute;
  right: 0;
  bottom: -50px;
}

/* line 157, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport,
#gallery-wrap #overlay_bg .overlay_content .active_viewport {
  width: 940px;
  min-height: 470px;
  background-color: #c7c7c7;
  position: relative;
  margin: 120px auto 0;
}

/* line 163, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport .close-overlay,
#gallery-wrap #overlay_bg .overlay_content .active_viewport .close-overlay {
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  border: none;
  outline: none;
  display: block;
  width: 22px;
  height: 26px;
  position: absolute;
  top: -35px;
  right: 0;
  border: 2px solid #ffffff;
  background: none;
  padding: 0;
}

/* line 177, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport .close-overlay:after,
#gallery-wrap #overlay_bg .overlay_content .active_viewport .close-overlay:after {
  width: 22px;
  display: block;
  content: 'X';
  font-size: 16px;
  color: #ffffff;
  text-indent: -3px;
}

/* line 186, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport img,
#gallery-wrap #overlay_bg .overlay_content .active_viewport img {
  width: 940px;
  display: none;
}

/* line 190, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport #descr_box,
#gallery-wrap #overlay_bg .overlay_content .active_viewport #descr_box {
  display: block;
  padding: 5px 8px;
  background-color: #c7c7c7;
  position: absolute;
  left: 0;
  bottom: -50px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 203, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport #descr_box h2,
#gallery-wrap #overlay_bg .overlay_content .active_viewport #descr_box h2 {
  margin: 0 0 8px;
  color: #333333;
  font-family: 'toyotadisplay_bd';
  font-size: 18px;
}

/* line 211, ../../app/styles/_view-port.scss */

#gallery-wrap #overlay_bg .viewport_openening .active_viewport #descr_box p,
#gallery-wrap #overlay_bg .overlay_content .active_viewport #descr_box p {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'toyotadisplay_rg';
  font-size: 14px;
}

/* line 232, ../../app/styles/_view-port.scss */

.msie.v8 #gallery-wrap #main_viewport ul li:before {
  z-index: 500;
}

/* line 235, ../../app/styles/_view-port.scss */

.msie.v8 #gallery-wrap #main_viewport ul li span {
  z-index: -50;
}

/* line 237, ../../app/styles/_view-port.scss */

.msie.v8 #gallery-wrap #main_viewport ul li span img {
  z-index: -200;
}

/* line 2, ../../app/styles/_nav-tabs.scss */

#gallery-wrap nav {
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  display: none;
  width: 880px;
  margin: 0 auto;
  padding: 0 0 0 60px;
}

/* line 10, ../../app/styles/_nav-tabs.scss */

#gallery-wrap nav button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 22px;
  margin: 0 8px;
  color: #ffffff;
  background-color: #fd532e;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border-width: 4px;
  border-style: solid;
  border-color: #ffffff;
  font-size: 14px;
  font-family: 'toyotadisplay_rg';
}

/* line 32, ../../app/styles/_nav-tabs.scss */

#gallery-wrap nav button.active_menu {
  background: #ffffff;
  color: #fd532e;
}