.page-content, #sliding-popup{
	display: none !important;
}

#main-content-wrapper{
	min-height: 1500px;
	position: relative;

	.spin-cover{
		overflow: hidden;
		width: 1480px;
		margin: 0 auto;
		position: absolute;

		img{
			width: 1480px;
			margin: 0 auto;
		}
	}	 
}