<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Toyota Online Booking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- TGB Live style assets -->   
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/reset.css">
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/general.css">
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/header.css">
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/themes/toyota/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/modules/custom/tgb_find_dealer/css/finddealer.css">
    <link rel="stylesheet" type="text/css" href="http://www.toyota.co.uk/sites/all/modules/custom/tgb_car_chapters/tgb_car_chapters.css"> 
    <!-- <link rel="stylesheet" type="text/css" href="reset.css">  -->
    <link rel="stylesheet" type="text/css" href="fonts.css"> 
    <!-- end TGB assets -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
        
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- dummy variables for internal grunt dev -->
    <script>
      var phone = '01234567891';
    </script>  

  </head>
  <body class=""> 
  <!-- <body class="">  -->
    <div class="wide-wrap">
      <div id="olb-wrap">
        <section id="progess" class="olb-content-area">
          <h2>your quote</h2>
          <ul class="progess-bar">
            <li class="first step active">your car</li>
            <li class="second step">your dealer &amp; quote</li>
            <li class="third step">select date &amp; time</li>
            <li class="fourth step">your details</li>
            <li class="fifth step">confirmation</li>
          </ul>
          <div class="clear"></div>
        </section>
        <div id="olb-content" class="olb-content-area">
          <div id="step-slider">
            <section class="olb-steps step-one current-step">
              <div id="your-car" class="pod">
                <h3>your car</h3>
                <p class="lite sub-title">Please enter your registration or VIN</p>
                <form id="olb-find-car">
                  <input id="reg-vin" class="wide-input" type="text" name="reg-vin" value="" />
                </form>
                <button type="submit" id="find-car" class="wide">find my car</button>
              </div>

              <div id="booking-choices" class="pod select-bookings">
                <h3>booking options</h3>
                <p class="lite info">By providing us with your registration and approximate mileage, we can ensure that you get the right service for your vehicle. Browse the booking options available and click on the relevant section.</p>
                <!-- Service types -->
                <ul>
                  <!-- Car Servicing -->
                  <li class="service-not-present car-servicing service-parent icon-checkmark inactive parent-object" data-price="" data-service="car-servicing">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Car servicing</h3> 
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner expand">
                      <p class="sub-title heavy">You must search for Your Car above before we can find the right service for you.</p>
                      <p class="lite sub-title">Mileage*</p>                     
                      <form id="olb-mileage-lookup">
                        <input id="mileage" class="wide-input" type="text" name="mileage" value="" placeholder="Approximate mileage - this helps us to find you the right service options" />
                      </form>
                      <button type="submit" id="find-service" class="wide disabled inactive">find service</button>
                      <div class="clear"></div>
                      <span class="tool-tip">The system cannot check the contents of your Service Plan. Therefore, no charges have been displayed for your Service / MOT options. Your Dealer will contact you before your service to discuss your booking in full.</span>
                      <h3 class="service-plan icon-checkmark">I have a Toyota service plan</h3>
                      <p class="lite info">Please note that service plans are specific to individual Toyota Dealer and may include some maintenance items.</p>
                      <div class="service-type">                        
                        <!-- Suggested service for customer -->                        
                        <!-- Potential additonal service options -->                        
                      </div>
                    </div>
                  </li>
                  <!-- HSD check -->
                  <li class="service-parent icon-checkmark option-item disabled inactive" data-price="£39" data-service="Hybrid Health Check">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Hybrid Health Check</h3>
                      <h3 class="price">&pound;39</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">Protect the heart of your hybrid with an annual Health Check. Safeguard your investment by catching any issues early, extend the warranty on your hybrid battery, and ensure optimal performance, all for just &pound;39, or FREE when booked as part of a service.</p>
                    </div>
                  </li>
                  <!-- Fixed Price Repair -->
                  <li class="service-parent icon-checkmark inactive parent-object" data-price="" data-service="repairs">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Repairs</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <ul class="repair-choices">      
                        <li class="repair-item front-brake-pads" data-repair="Front Brake Pads">
                          <h4 class="sub-title">Front Brake Pads</h4>
                        </li>                      
                        <li class="repair-item rear-brake-pads" data-repair="Rear Brake Pads">
                          <h4 class="sub-title">Rear Brake Pads</h4>
                        </li>                      
                        <li class="repair-item front-brake-pads-and-disks" data-repair="Front Brake Pads and Disks">
                          <h4 class="sub-title">Front Brake Pads and Disks</h4>
                        </li>                      
                        <li class="repair-item rear-brake-pads-and-disks" data-repair="Rear Brake Pads and Disks">
                          <h4 class="sub-title">Rear Brake Pads and Disks</h4>
                        </li>                      
                        <li class="repair-item battery-for-petrol-models" data-repair="Battery for Petrol Models">
                          <h4 class="sub-title">Battery for Petrol Models</h4>
                        </li>                      
                        <li class="repair-item front-wiper" data-repair="Front Wiper">
                          <h4 class="sub-title">Front Wiper</h4>
                        </li>                      
                        <li class="repair-item rear-exhaust" data-repair="Rear Exhaust">
                          <h4 class="sub-title">Rear Exhaust</h4>
                        </li>                      
                        <br class="clear">
                      </ul>
                      <p class="sub-title">All prices are inclusive so there are no hidden extras or nasty surprises on your bill. And we only ever use Toyota genuine parts that come with a minimum 1-year guarantee.</p> 
                    </div>
                  </li>
                  <!-- General diagnostic -->
                  <li class="service-parent icon-checkmark option-item inactive" data-price="free" data-service="general diagnosis">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>General Diagnosis</h3>
                      <h3 class="price">FREE</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">If your car is giving you signals it might have something wrong with it but you don’t know what, then book in for a 15 minute general diagnosis appointment.</p>
                    </div>
                  </li>                  
                  <!-- MOT -->
                  <li class="service-parent icon-checkmark option-item inactive" data-price="" data-service="MOT">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>MOT</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">MOTs are compulsory and have to be done each year, so make it as quick and efficient as possible. Your local Toyota dealer can arrange your MOT with a Toyota approved expert who authorised to carry out any necessary repair work.</p>
                    </div>
                  </li>
                  <!-- Visual Safety Report -->
                  <li class="service-parent icon-checkmark option-item" data-price="free" data-service="visual safety report">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Visual Safety Report</h3>
                      <h3 class="price">FREE</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">Our free 37 point Visual Safety Report is a comprehensive visual inspection of your vehicle, conducted by qualified Toyota technicians. The report will highlight anything that needs doing urgently to meet safety and legal requirements, as well as any work that may need doing in the future.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </section>

            <!-- Search & select your Dealer -->
            <section class="olb-steps step-two" id="find-dealer-step">
              <h3 class="">Find your dealer</h3>
              <div id="map-wrapper" class="pod">
                <div class="map-inner">
                  <p class="sub-title">postcode</p>
                  <form id="olb-dealer-lookup">
                    <!-- <input type="text" id="postcode-input" class="wide-input" /> -->
                    <input type="text" size="60" value="" name="dealer" id="postcode-input" class="wide-input form-text postcode">                  
                  </form>
                  <button type="submit" id="find-postcode">search</button>
                  <br class="clear" />
                  <div id="gmap_canvas"></div>
                </div>
                <ul id="local-dealers"></ul>
              </div>
              <button class="go-back move-step" data-step="one">Go back</button>
              <button id="step-dealer" class="proceed disabled submit-booking" data-step="three">choose dealer</button>
              <br class="clear" />
            </section>

            <!-- Your Dealer & quote -->
            <section class="olb-steps step-three" id="dealer-quote">
              <h3>Confirm Your Booking selections</h3>
              <!-- Service types -->
              <div id="confirm-choices" class="select-bookings">
                <ul>
                  <!-- Car Servicing -->
                  <li class="service-not-present car-servicing service-parent icon-checkmark inactive parent-object" data-price="" data-service="car-servicing">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Car servicing</h3>  
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner expand">
                      <!-- <p class="sub-title heavy">You must search for Your Car above before we can find the right service for you.</p> -->
                      <p class="lite sub-title">Mileage*</p>
                      <input id="mileage" class="wide-input" type="text" name="mileage" value="" placeholder="Approximate mileage - this helps us to find you the right service options" />
                      <button id="find-service" class="wide">find service</button>
                      <div class="clear"></div>
                      <span class="tool-tip">The system cannot check the contents of your Service Plan. Therefore, no charges have been displayed for your Service / MOT options. Your Dealer will contact you before your service to discuss your booking in full.</span>
                      <h3 class="service-plan icon-checkmark">I have a Toyota service plan</h3>
                      <p class="lite info">Please note that service plans are specific to individual Toyota Dealer and may include some maintenance items.</p>
                      <div class="service-type">                        
                        <!-- Suggested service for customer -->                        
                        <!-- Potential additonal service options -->                        
                      </div>
                    </div>
                  </li>
                  <!-- HSD check -->
                  <li class="service-parent icon-checkmark option-item disabled" data-price="£39" data-service="Hybrid Health Check">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Hybrid Health Check</h3>
                      <h3 class="price">&pound;39</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">Protect the heart of your hybrid with an annual Health Check. Safeguard your investment by catching any issues early, extend the warranty on your hybrid battery, and ensure optimal performance, all for just &pound;39, or FREE when booked as part of a service.</p>
                    </div>
                  </li>
                  <!-- Fixed Price Repair -->
                  <li class="service-parent icon-checkmark inactive parent-object" data-price="" data-service="repairs">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Repairs</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <ul class="repair-choices">      
                        <li class="repair-item front-brake-pads" data-repair="Front Brake Pads">
                          <h4 class="sub-title">Front Brake Pads</h4>
                        </li>                      
                        <li class="repair-item rear-brake-pads" data-repair="Rear Brake Pads">
                          <h4 class="sub-title">Rear Brake Pads</h4>
                        </li>                      
                        <li class="repair-item front-brake-pads-and-disks" data-repair="Front Brake Pads and Disks">
                          <h4 class="sub-title">Front Brake Pads and Disks</h4>
                        </li>                      
                        <li class="repair-item rear-brake-pads-and-disks" data-repair="Rear Brake Pads and Disks">
                          <h4 class="sub-title">Rear Brake Pads and Disks</h4>
                        </li>                      
                        <li class="repair-item battery-for-petrol-models" data-repair="Battery for Petrol Models">
                          <h4 class="sub-title">Battery for Petrol Models</h4>
                        </li>                      
                        <li class="repair-item front-wiper" data-repair="Front Wiper">
                          <h4 class="sub-title">Front Wiper</h4>
                        </li>                      
                        <li class="repair-item rear-exhaust" data-repair="Rear Exhaust">
                          <h4 class="sub-title">Rear Exhaust</h4>
                        </li>                      
                        <br class="clear">
                      </ul>                    
                      <p class="sub-title">All prices are inclusive so there are no hidden extras or nasty surprises on your bill. And we only ever use Toyota genuine parts that come with a minimum 1-year guarantee.</p> 
                    </div>
                  </li>
                  <!-- General diagnostic -->
                  <li class="service-parent icon-checkmark option-item" data-price="free" data-service="general diagnosis">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>General Diagnosis</h3>
                      <h3 class="price">FREE</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">If your car is giving you signals it might have something wrong with it but you don’t know what, then book in for a 15 minute general diagnosis appointment.</p>
                    </div>
                  </li>
                  <!-- MOT -->
                  <li class="service-parent icon-checkmark option-item" data-price="" data-service="MOT">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>MOT</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">MOTs are compulsory and have to be done each year, so make it as quick and efficient as possible. Your local Toyota dealer can arrange your MOT with a Toyota approved expert who authorised to carry out any necessary repair work.</p>
                    </div>
                  </li>
                  <!-- Visual Safety Report -->
                  <li class="service-parent icon-checkmark option-item" data-price="free" data-service="visual safety report">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>Visual Safety Report</h3>
                      <h3 class="price">FREE</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">Our free 37 point Visual Safety Report is a comprehensive visual inspection of your vehicle, conducted by qualified Toyota technicians. The report will highlight anything that needs doing urgently to meet safety and legal requirements, as well as any work that may need doing in the future.</p>
                    </div>
                  </li>
                  <li class="service-parent icon-checkmark option-item" data-price="free" data-service="MyToyotaView">
                    <a href="javascript:void(0)" class="menu-handle option-child"></a>
                    <div class="draw-handle">
                      <h3>MyToyotaView</h3>
                      <h3 class="price">FREE</h3>
                    </div>
                    <div class="clear"></div>
                    <div class="service-inner">
                      <p class="sub-title">MyToyotaView is a web-based video system that allows us to present video clips of your vehicle to you online. It will show you what your technician has found and allow you see any issues before work is carried out.</p>
                    </div>
                  </li>
                </ul>
                <ul class="choose-wait">
                  <li class="user-wait icon-checkmark" data-title="I will wait while my car is serviced" data-price="FREE" data-wait="wait">
                    <p>I will wait while my car is<br/>with you</p>
                    <h2>free</h2>
                  </li>
                  <li class="user-wait icon-checkmark middle" data-title="Please collect my car, delivering it back to me when ready" data-price="£20" data-wait="collect">
                    <p>Please collect my car,<br/>delivering it back to<br/>me when ready</p>
                    <h2>&pound;20</h2>
                  </li>
                  <li class="user-wait icon-checkmark" data-title="I would like to use a courtesy car" data-price="£15.5" data-wait="courtesy">
                    <p>I would like<br/>a courtesy car</p>
                    <h2>&pound;15.5</h2>
                  </li>
                  <br class="clear" />
                </ul>
                <p class="sub-title">Additional Information</p>
                <div class="additional">
                  <textarea  name="fsda_contact_msg" id="add-info" placeholder="Is there anything else we need to know?"></textarea>
                </div>
              </div>
              <!-- <button class="go-back move-step" data-step="two">Go back</button> -->
              <button id="step-time" class="move-step proceed disabled" data-step="four">select date &amp; time</button>
              <br class="clear" />
            </section>

            <!-- Select Time & Date -->
            <section class="olb-steps step-four" id="select-time">
              <h3>Choose your Date &amp; time</h3>
              <h3 class="sub-title">When would you like your service to be carried out?</h3>
              <div class="date-wrapper">
                <div id="service-date"></div>
                <div id="service-time">
                  <div class="selected-date"></div>
                  <!-- <h2>14</h2>
                  <div class="selected-date"></div> -->
                  <br class="clear" />
                  <select id="fsda_hour" class="time-choice">
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select id="fsda_minute" class="time-choice">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                  <br class="clear" />
                  <p class="time-titles sub-title">hour</p>  
                  <p class="time-titles sub-title">minute</p>  
                </div>               
                <br class="clear"/> 
              </div>              
              <button type="button" class="go-back move-step" data-step="three">Go back</button>
              <button type="button" id="step-details" class="move-step proceed" data-step="five">confirm date &amp; time</button>
              <br class="clear" />
            </section>            

            <!-- Your details -->
            <section class="olb-steps step-five" id="customer-details">
              <h3>your details</h3>
              <div class="customer-form">
                <form id="customer-details-form" accept-charset="UTF-8" novalidate="novalidate">
                  <div class="form-row">
                    <label for="title">Title*</label>
                    <select name="title" id="title">
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                      <option value="Ms">Ms</option>
                      <option value="Professor">Professor</option>
                      <option value="Doctor">Doctor</option>
                      <option value="Reverend">Reverend</option>
                    </select>
                  </div>
                  <div class="form-row">
                    <label for="edit-firstname">First Name*</label>
                    <input value="" type="text" name="firstname" value="" id="edit-firstname" class="required form-text" required>
                    <!-- <input autocorrect="off" autocapitalize="off" type="text" id="edit-firstname" name="firstname" value="" size="60" maxlength="128" class="form-text required form-text"> -->
                  </div>
                  <div class="form-row">
                    <label for="edit-surname">Surname*</label>
                    <input value="" type="text" name="surname" value="" id="edit-surname" class="required form-text" required>
                  </div>
                  <div class="form-row">
                    <label for="edit-phone">Phone*</label>
                    <input value="" type="text" name="phone" id="edit-phone" class="required form-text" required>
                    <select name="phonetype" id="phonetype">
                      <option value="home">Home</option>
                      <option value="office">Office</option>
                      <option value="mobile">Mobile</option>
                    </select>
                  </div>
                  <div class="form-row">
                    <label for="edit-email">Email*</label>
                    <input value="" type="text" name="email" value="" id="edit-email" class="required form-text" required>
                  </div>
                  <h3>address</h3>
                  <div class="form-row">
                    <label for="edit-house">House name/no.*</label>
                    <input value="" type="text" name="house" value="" id="edit-house" class="required form-text" required>
                  </div>
                  <!-- Gets populated via template -->
                  <div id="detailed-address"></div>

                  <div class="form-row">
                    <label for="edit-postcode">Postcode*</label>
                    <input value="" type="text" name="postcode" value="" id="edit-postcode" class="required form-text" required>
                    <button type="button" id="find-address">find address</button>
                    <br class="clear" />
                  </div>
                </form>

                <div id="hear-about">
                  <h3>Where did you hear about this service?</h3>
                  <ul>
                    <li class="icon-checkmark hear-about" data-hear-about="Toyota.co.uk">Toyota.co.uk</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Email">Email</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Leaflet/direct mail">Leaflet/Direct mail</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Toyota Dealership">Toyota Dealership</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Google">Google</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Newspaper">Newspaper</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Toyota Magazine">Toyota Magazine</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Ebay">Ebay</li>
                    <li class="icon-checkmark hear-about" data-hear-about="word of mouth">Word of Mouth</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Toyota owners club">Toyota Owners Club</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Other online advertisment">Other Online Advertisment</li>
                    <li class="icon-checkmark hear-about" data-hear-about="Other">Other</li>
                    <br class="clear" />
                  </ul>
                  <input type="text" name="other" value="" id="other-source">
                  <br class="clear" />
                </div>
                <div id="opt-outs">
                  <p>As a matter of policy Toyota (GB) PLC will not allow your name to be used by other companies who have no connection with our organisation. However, we would like to keep you informed about Toyota products and services. If you would prefer not to receive this information, please tell us here:</p>
                  <ul>
                    <li id="optoutEmail" class="icon-checkmark opt-out" data-opt-out="futureContactEmail">Do not Email</li>                  
                    <li id="optoutPhone" class="icon-checkmark opt-out" data-opt-out="futureContactSms">Do not Phone</li>                  
                    <li id="optoutMail" class="icon-checkmark opt-out" data-opt-out="futureContactMail">Do not Mail</li>                
                    <li id="optoutSMS" class="icon-checkmark opt-out" data-opt-out="futureContactPhone">Do not SMS</li>                
                    <br class="clear" />
                  </ul>
                </div>
              </div>
              <button type="button" class="go-back move-step" data-step="four">Go back</button>
              <button type="button" id="step-confirm" class="proceed" data-step="six">summary</button>
              <br class="clear" />
            </section>

            <!-- confirm your selections -->
            <section class="olb-steps step-six" id="customer-summary">
              <!-- entire step is populated via template -->  
            </section>

            <!-- Thanks for OLB-ing! -->
            <section class="olb-steps step-seven" id="thanks-page">
              <!-- entire step is populated via template -->   
            </section>
          </div>


          <!-- Summary of users Online Booking -->
          <section id="summary" class="empty">
            <h2>Toyota for a Reason</h2>
            <h4 class="sub-title find-more">Find out more</h4>
            <div id="need-help"></div>
            <div id="your-quote" class="summary-pod">
              <div class="pod-inner">
                <h4 class="quote-title">your quote</h4>                
                <p class="download-quote">Download Quote</p>
                <br class="clear"/>
                <h4 class="sub-title">Your Car</h4>
                <p class="add-some">Please add a car by conducting a registration or VIN search.</p>
                <div id="your-car"></div>
                <button id="remove-car" class="remove-item">remove</button>
              </div>
            </div>
            <div id="service-selections" class="summary-pod">
              <div class="pod-inner description">
                <h4 class="sub-title">your booking selections</h4>
                <p class="add-some-options">Please add at least one booking option.</p>
              </div>
              <div id="selected-service" class="service-item"></div>

              <div id="selected-repairs" class="service-item"></div>              

              <ul id="selected-options"></ul>

              <div id="option-wait"></div>

              <div id="summary-total"></div>

              <button id="continue" class="disabled inactive proceed move-step" data-step="two">continue booking</button>
            </div>   
            <div class="including">
              <h2>what's included?</h2>
              <h4 class="sub-title find-more">Find out more</h4>
            </div>
          </section>
          <div class="clear"></div>
        </div>
      </div>
    </div>



    <!-- hidden form tht gets submitted to dealersuip of users choosing -->
    <form id="olb-form" name="olbform" action="" method="post">
      <input type="text" name="service_booking" value="" type="hidden">
    </form>    

    <!-- Start script templates for OLB -->
    <script id="your-car-tpl" type="text/template">
      <p><%= requested %></p>
      <p><%= model %> <%= engine %></p>
      <p class="mileage"></p>
    </script>

    <script id="selected-servicing-tpl" type="text/template">
      <h4 class="sub-title item-title">car servicing</h4>
      <h4 class="sub-title price data-price">£<%= bookingDetails.get('serviceprice') %></h4>
      <h4 class="sub-title price plan-price">£ --.--</h4>
      <div class="clear"></div>
      <p><%= bookingDetails.get('servicetype') %> service</p>
      <p>(<%= bookingDetails.get('age') %> years or <%= bookingDetails.get('mileage') %> miles)</p>

      <button type="button" data-type="service" data-title="<%= bookingDetails.get('servicetype') %>" class="remove-service">remove</button>
    </script>

    <script id="selected-repairs-tpl" type="text/template">
      <h4 class="sub-title">Repairs</h4>
      <ul>
        <% selectedRepairs.each(function(ele){ %>          
          <li class="">
            <p class="sub-title item-title"><%= ele.get('title') %></p>
            <p class="sub-title price">£<%= ele.get('price') %></p>
            <div class="clear"></div>
            <button type="button" data-type="repair"  data-title="<%= ele.get('title') %>" class="remove-item">remove</button>
          </li>
        <% }); %>
      </ul>
    </script>

    <script id="selected-options-tpl" type="text/template">
      <li class="service-item selected" data-title="<%= title %>">
        <h4 class="sub-title item-title"><%= title %></h4>
        <h4 class="sub-title price"><%= price %></h4>
        <div class="clear"></div>
        <button type="button" data-type="option"  data-title="<%= title %>" class="remove-item">remove</button>
      </li>
    </script>

    <script id="suggested-service" type="text/template">
      <div id="available-service">
        <h3 class="service-badge <%= bookingDetails.get('servicetype') %> left"><%= bookingDetails.get('servicetype') %> <span>(<%= bookingDetails.get('age') %> years or <%= bookingDetails.get('mileage') %> miles)</span></h3>
        <h3 class="service-price data-price">£<%= bookingDetails.get('serviceprice') %></h3>
        <h3 class="service-price plan-price">£ --.--</h3>
        <div class="clear"></div>
      </div>
      <div id="maintenance-options">
        <p class="sub-title">Dependant on your service history, the following maintenance items may be required:</p>
        <ul>
          <% _.each(bookingDetails.get('options'), function(ele, idx){ %>
            <li class="mdata">
              <p class="sub-title left"><%= ele.description %></p>
              <p class="sub-title right data-price">£<%= ele.price %></p>
              <p class="sub-title right plan-price">£ --.--</p>
              <div class="clear"></div>
            </li>
          <% }); %>
        </ul>
        <p class="lite">We will discuss your individual requirements before any work is completed. If the recommended service does not match your requirements, please contact your local Toyota Dealer.</p>       
      </div>
    </script>

    <script id="fixed-repair-list" type="text/template">
      <% _.each(fixedPrices, function(ele, idx){ %>
        <li id="<%= ele.cid %>" class="repair-item <%= ele.get('cleanRepair') %>" data-repair="<%= ele.get('title') %>">
          <h4 class="sub-title"><%= ele.get('title') %></h4>
          <h4 class="price">£<%= ele.get('price') %></h4>
        </li>
      <% }); %>
    </script>

    <script id="dealer-tpl" type="text/template">
      <li id="<%= centerId %>" class="dealer-item" data-center="<%= centerUrl %>">
        <div class="dealer-left">
          <p class="sub-title"><%= title %></p>
          <p><%= proximity %> miles</p>
        </div>
        <p class="tele">Tel: <span><%= centerTel %></span></p>
        <br class="clear" />
      </li>
    </script>

     <!-- dealer help line -->
    <script id="help-me" type="text/template">
      <h2>need some help?</h2>
      <p>call our booking team on</p>
      <p class="dealer-number"><%= dealerPhone %></p>
    </script>

    <script id="date-time" type="text/template">
      <h2><%= dateDay %></h2> 
      <div class="date-right">
        <p class="sub-title"><%= weekDay %></p>
        <p class="selected-month"><%= month %></p>
        <p class="selected-year"><%= bookingYear %></p>
      </div>
    </script>

    <script id="address-details" type="text/template">
      <div class="form-row">
        <label for="edit-address1">Address 1</label>
        <input value="<%= address1 %>" type="text" name="address1" id="edit-address1" class="form-text">
      </div>
      <div class="form-row">
        <label for="edit-address2">Address 2</label>
        <input value="<%= address2 %>" type="text" name="address2" id="edit-address2" class="form-text">
      </div>
      <div class="form-row">
        <label for="edit-town">Town*</label>
        <input value="<%= town %>" type="text" name="town" id="edit-town" class="required form-text" required>
      </div>
      <div class="form-row">
        <label for="edit-county">County</label>
        <input value="<%= county %>" type="text" name="county" id="edit-county" class="required form-text" required>
      </div>
    </script>

    <script id="booking-summarisation" type="text/template">
      <h3 class="left-title">your summary</h3>
      <h3 class="right-title">total £<%= totalBookingPrice %></h3>
      <br class="clear" />
      <div class="left-pod summary-pod">
        <h3>your car</h3>
        <p>Registration: <span><%= requested %></span></p>
        <p>Model: <span><%= model %></span></p>
        <p>Engine: <span><%= engine %></span></p>
        <% if (bookingDetails.get('servicetype')) { %>
          <p>Mileage: <span><%= approxMiles %></span></p>
        <% } %>
        <br class="clear" />
      </div>
      <div class="right-pod summary-pod">
        <h3>date & time</h3>
        <p class="date">Date: <span><%= customer.get('weekDay') %> <%= customer.get('dateDay') %> <%= customer.get('month') %> <%= customer.get('bookingYear') %></span></p>
        <p>Time: <span><%= customer.get('serviceTime') %></span></p>
        <br class="clear" />
      </div>
      <br class="clear" />
      <% if (bookingDetails.get('servicetype')) { %>
        <div class="summary-pod">
          <h3>your service</h3>
          <div class="service-choice <%= bookingDetails.get('servicetype') %>">
            <h3 class="title"><%= bookingDetails.get('servicetype') %> service</h3>
            <h3 class="price">&pound;<%= bookingDetails.get('serviceprice') %></h3>
            <br class="clear" />
            <p>(<%= bookingDetails.get('age') %> years or <%= bookingDetails.get('mileage') %> miles)</p>
          </div>
        </div>
      <% } %>
      <% if (selectedRepairs.length) { %>
        <div class="summary-pod">
          <h3>repairs</h3>
          <ul class="repair-list">
            <% selectedRepairs.each(function(ele){ %>          
              <li class="">
                <p class="title"><%= ele.get('title') %></p>
                <p class="price">£<%= ele.get('price') %></p>
                <div class="clear"></div>
              </li>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <% if (selectedOptions.length) { %>      
        <% selectedOptions.each(function(ele){ %>          
          <div class="summary-pod">
            <h3 class="title"><%= ele.get('title') %></h3>
            <% if(ele.get('price') == 'FREE' || ele.get('price') == '') { %>
              <p class="price">FREE</p>
            <% } else { %>
              <p class="price"><%= ele.get('price') %></p>
            <% } %>
            <div class="clear"></div>
          </div>
        <% }); %>
      <% } %>
      <% if(customer.get('chosenWait')) { %>
        <div class="summary-pod">
          <h3 class="title choose-wait"><%= customer.get('chosenWait').title %></h3>
          <h3 class="price"><%= customer.get('chosenWait').price %></h3>
          <div class="clear"></div>
        </div>
      <% } %>
      <% if(customer.get('chosenAdditionalWait')) { %>
        <div class="summary-pod">
          <h3 class="title choose-wait"><%= customer.get('chosenAdditionalWait').title %></h3>
          <h3 class="price"><%= customer.get('chosenAdditionalWait').price %></h3>
          <div class="clear"></div>
        </div>
      <% } %>
      <div class="summary-pod">
        <h3 class="title">Total Price</h3>
        <h3 class="price">£<%= totalBookingPrice %></h3>
        <div class="clear"></div>
      </div>
      <% if (customer.get('additionalNotes')) { %>
      <div class="summary-pod">
        <h3>Additional notes</h3>
        <p><%= customer.get('additionalNotes') %></p>
      </div>
      <% } %>

      <div class="summary-pod">
        <h3>centre</h3>
        <p class="dealership"><%= customer.get('dealerName') %></p>
        <p class="dealership"><%= customer.get('dealerPhone') %></p>
      </div>
      <button type="button" class="go-back move-step" data-step="five">Go back</button>
      <button type="button" id="step-thanks" class="proceed" data-step="seven">book</button>
      <br class="clear" />
    </script>

    <script id="thanking-you" type="text/template">
      <h3>Thank you</h3>
      <div id="thanks">
        <h3>Dear <%= title %> <%= surname %></h3>
        <p>Your booking has been recieved and we look forward to seeing you and your <%= vehicleModel %> on</p>
        <h3 class="confirmed-date"><%= weekDay %> <%= dateDay %> <%= month %> <%= bookingYear %> at <%= serviceTime %></h3>
        <p>We have sent you a confirmation email containing these details and any other instructions that you might have given us. If you need to change or cancel your service booking, please just call us on <%= dealerPhone %>.</p>
        <p>We will contact you in 2-3 days prior to your service to re-confirm all the details.</p>
        <a href="/owners" class="final-links left">Our owners page</a>
        <a href="//www.toyota.co.uk/owners-landing" target="_blank" class="final-links right">Toyota UK Owners page</a>
        <br class="clear" />
      </div>
    </script>

    <script id="submit-error" type="text/template">
      <div id="sorry-submit">
        <h3>Sorry, an error has occurred and your booking could not be processed. Please try again later or contact your dealer directly.</h3>        
      </div>
    </script>

    <script id="find-more" type="text/template">
      <div class="overlay-bg"></div>      
      <div class="pop-wrap">
        <div class="pop-inner">
          <button type="button" class="close-overlay"></button>
          <ul class="tab-selectors">
            <li class="service-tab inter" data-content="inter">INTERMEDIATE SERVICE</li>
            <li class="service-tab full" data-content="full">full service</li>
            <li class="service-tab plus" data-content="plus">FULL+ SERVICE</li>
            <div class="clear"></div>
          </ul>
          <ul class="finding-out">
            <li class="inter active" data-content="inter">
              <h3 class="inter-title">INTERMEDIATE SERVICE</h3>
              <h3>Designed to maintain all the things that need frequent inspection.</h3>
              <ul class="detail-colum">
                <li>Free Visual Safety Report</li>
                <li>Free Hybrid Health Check (model dependant)</li>
                <li>Free Wash and Vac</li>
                <li>Check all pedal(s) and component(s)</li>
                <li>Check steering wheel</li>
                <li>Check horn</li>
                <li>Check washers</li>
                <li>Check wipers</li>
                <li>Check interior lights</li>
                <li>Check exterior lights</li>
                <li>Check warning lights</li>
                <li>Inspect air conditioning filter - replace as necessary*</li>
                <li>Check seat belts</li>
                <li>Drain engine oil</li>
                <li>Replace oil filter</li>
                <li>Inspect air filters</li>
               </ul>
               <ul class="detail-colum">
                <li>Refill engine oil</li>
                <li>Check levels and refill as required</li>
                <li>Inspect suspension</li>
                <li>Inspect steering</li>
                <li>Inspect tyres</li>
                <li>Inspect wheels</li>
                <li>Check and adjust tyre pressures</li>
                <li>Inspect brake pads and discs</li>
                <li>Torque tighten wheel nuts</li>
                <li>Check radiator and condenser</li>
                <li>Check belts</li>
                <li>Check battery</li>
                <li>Recheck for fluid leaks- underside and engine bay</li>
                <li>Recheck all levels</li>
                <li>Reset service lights or monitor as required</li>
                <li>*Additional charges apply if work is required</li>
              </ul>
              <br class="clear" />
            </li>
            <li class="full" data-content="full">
              <h3 class="inter-title">Full SERVICE</h3>
              <h3>A comprehensive service designed to maximise the performance and longevity of your vehicle.</h3>
              <ul class="detail-colum">  
                <li>Free Visual Safety Report</li>
                <li>Free Hybrid Health Check (model dependant)</li>
                <li>Free Wash and Vac</li>
                <li>Check all pedal(s) and component(s)</li>
                <li>Check steering wheel</li>
                <li>Check horn</li>
                <li>Check washers</li>
                <li>Check wipers</li>
                <li>Check interior lights</li>
                <li>Check exterior lights</li>
                <li>Check warning lights</li>
                <li>Inspect air conditioning filter- replace as necessary*</li>
                <li>Check seat belts</li>
                <li>Drain engine oil</li>
                <li>Replace oil filter</li>
                <li>Inspect air filters</li>
                <li>Refill engine oil</li>
                <li>Check levels and refill as required</li>
                <li>Inspect suspension</li>
                <li>Inspect steering</li>
                <li>Inspect tyres</li>
                <li>Inspect wheels</li>
                <li>Check and adjust tyre pressures</li>
                <li>Inspect brake pads and discs</li>
                <li>Torque tighten wheel nuts</li>
                <li>Check radiator and condense</li>
                <li>Check belts</li>
                <li>Check battery</li>
                <li>Recheck for fluid leaks - underside and engine bay</li>
                <li>Recheck all levels</li>
                <li>Reset service lights or monitor as required</li>
                <li>Check alarms</li>
               </ul>
               <ul class="detail-colum">
                <li>Check and adjust gear cables</li>
                <li>Inspect glass and light lenses</li>
                <li>Replace battery in locking remote</li>
                <li>Check and inspect suspension ball free play</li>
                <li>Replace front and rear differential oils (model dependant)*</li>
                <li>Inspect drive shaft boots</li>
                <li>Inspect suspension ball joints and dust covers</li>
                <li>Inspect fuel and brake pipes</li>
                <li>Inspect exhaust pipes</li>
                <li>Inspect wheel bearing</li>
                <li>Inspect brake lining and drums</li>
                <li>Inspect hand brake</li>
                <li>Check clutch fluid as required*</li>
                <li>Inspect spark plugs</li>
                <li>Inspect air filter</li>
                <li>Inspect charcoal canister (model dependant)*</li>
                <li>Check fuel cap &amp; lines</li>
                <li>Full 4-wheel alignment check- extra charge for adjustment</li>
                <li>Change brake fluid (every two years)*</li>
                <li>Replace air filter (model dependant)</li>
                <li>Check transmission oil*</li>
                <li>Inspect transfer box oil (model dependant)*</li>
                <li>Lubricate prop shaft joints (model dependant)</li>
                <li>Tighten prop shaft bolts (model dependant)</li>
                <li>*Additional charges apply if work is required</li>
              </ul>
              <br class="clear" />
            </li>
            <li class="plus" data-content="plus">
              <h3 class="inter-title">Full+ SERVICE</h3>
              <h3>Our most comprehensive service, with additional replacement of longer service interval items.</h3>
              <ul class="detail-colum">
                <li>Free Visual Safety Report</li>
                <li>Free Hybrid Health Check (model dependant)</li>
                <li>Free Wash and Vac</li>
                <li>Check all pedal(s) and component(s)</li>
                <li>Check steering wheel</li>
                <li>Check horn</li>
                <li>Check washers</li>
                <li>Check wipers</li>
                <li>Check interior lights</li>
                <li>Check exterior lights</li>
                <li>Check warning lights</li>
                <li>Inspect air conditioning filter - replace as necessary*</li>
                <li>Check seat belts</li>
                <li>Drain engine oil</li>
                <li>Replace oil filter</li>
                <li>Refill engine oil</li>
                <li>Check levels and refill as required</li>
                <li>Inspect suspension</li>
                <li>Inspect steering</li>
                <li>Inspect tyres</li>
                <li>Inspect wheels</li>
                <li>Check and adjust tyre pressures</li>
                <li>Inspect brake pads and discs</li>
                <li>Torque tighten wheel nuts</li>
                <li>Check radiator and condenser</li>
                <li>Check belts</li>
                <li>Check battery</li>
                <li>Recheck for fluid leaks - underside and engine bay</li>
                <li>Recheck all levels</li>
                <li>Reset service lights or monitor as required</li>
                <li>Check alarms</li>
              </ul>
              <ul class="detail-colum">
                <li>Check and adjust gear cables</li>
                <li>Inspect glass and light lenses</li>
                <li>Replace battery in locking remote</li>
                <li>Check and inspect suspension ball free play</li>
                <li>Replace front and rear differential oils (model dependant)*</li>
                <li>Inspect drive shaft boots</li>
                <li>Inspect suspension ball joints and dust covers</li>
                <li>Inspect fuel and brake pipes</li>
                <li>Inspect exhaust pipes</li>
                <li>Inspect wheel bearing</li>
                <li>Inspect brake lining and drums</li>
                <li>Inspect hand brake</li>
                <li>Check clutch fluid as required*</li>
                <li>Inspect spark plugs</li>
                <li>Inspect air filter</li>
                <li>Inspect charcoal canister (model dependant)</li>
                <li>Check fuel cap &amp; lines</li>
                <li>Full 4-wheel alignment check- extra charge for adjustment</li>
                <li>Check transmission oil*</li>
                <li>Inspect transfer box oil (model dependant)*</li>
                <li>Lubricate prop shaft joints (model dependant)</li>
                <li>Tighten prop shaft bolts (model dependant)</li>
                <li>Replace diesel fuel filter (model dependant)</li>
                <li>Replace spark plugs</li>
                <li>Replace air filter (model dependant)</li>
                <li>Check valves</li>
                <li>Clean airflow meter</li>
                <li>Diesel smoke test</li>
                <li>Change brake fluid (every two years)*</li>
                <li>*Additional charges apply if work is required</li>
              </ul>
              <br class="clear" />
            </li>
          </ul>
        </div>
      </div>
    </script>

    <script>
      //dummy function to emulate TCW
      var calculateAvailableDays = function() {
        return;
      }
      var filterHours = function() {
        return;
      };
      var filterMinutes = function() {
        return;
      }
      var getEarliestDay = function() {
        return;
      }
      var filterDayOffs = function(date) {
        var day = date.getDay();
        var availableDays = [0,1,2,4,5,6];

        return [availableDays.indexOf(day) >= 0, ''];
      }
      window.osbDealerID = '23456789';
      window.osbPhone = '01234657891';

      // window.osbInitValues = {
      //   ident: 'MM06ZPC',
      //   model: 'Yaris NG T2',
      //   engine: '1.0 VVT-i',
      //   mileage: '12345',
      //   years: '2006',
      //   age: '8',
      //   colour: 'Crystal Silver',
      //   serviceplan: '',
      //   katashiki: 'KSP90',
      //   ageM: '100',
      //   serviceObj: {},
      //   // serviceObj: {
      //   //   "age": "8",
      //   //   "katashiki": "KSP90",
      //   //   "mileage": "80000",
      //   //   "serviceprice": "255",
      //   //   "servicetype": "Full+",
      //   //   "serviceId": "77991388",
      //   //   "options": [{
      //   //     "description": "Brake Fluid - (change every 2 years)",
      //   //     "price": "39"
      //   //   }]
      //   // },
      //   hybridHealthCheck: 'Y',
      //   hybridHealthCheckCost: '£39',
      //   generalDiagnosis: 'Y',
      //   generalDiagnosisCost: 'free',
      //   visualSafetyReport: 'Y',
      //   visualSafetyReportCost: 'free',
      //   mot: 'Y',
      //   // repairs: [],
      //   repairs: [{
      //     "repair": "Front Brake Pads and Disks",
      //     "repairCost": "210"
      //   }, {
      //     "repair": "Rear Brake Pads and Disks",
      //     "repairCost": "210"
      //   }, {
      //     "repair": "Battery for Petrol Models",
      //     "repairCost": "75"
      //   }, {
      //     "repair": "Front Wiper",
      //     "repairCost": "21"
      //   }]
      // };
      // testing dealership skip find dealer step
      window.tcw = true;
      //testing national pdf submission
      // window.retail = true;
    </script>

    <!-- End templates &sensor=false-->
    <!-- TGB assets tht arent required once deployed -->
    <link rel="stylesheet" href="http://www.toyota.co.uk/sites/all/libraries/shadowbox/shadowbox.css" type="text/css" />
    <script src="http://www.toyota.co.uk/sites/all/libraries/shadowbox/shadowbox.js?v=3.0.3"></script>    

    <!-- build:js(.) scripts/vendor.js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4awt1R4M1MQx9Q9vfBpN8DOXHVrLkOGo"></script>
    <!-- endbuild -->
    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
